
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: lightgrey 1.5px solid;
  border-radius: 3px;
}

.day, .weekday {
  width: calc(100% / 7)
}

.weekday {
  text-align: center;
  color: slategrey;
}

.calendar {
  padding: 5px;
  height: 100%;
  color: grey;
  font-size: 45px;
}

textarea:focus, input:focus{
  outline: none;
}

input {
  border: none;
  font-size: 1.3em;
  margin-left: 10px;
  color: #000066;
}

.calendar-container {
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: lightgray solid 1.5px;
  border-radius: 3px;
  width: 300px;
  margin-bottom: 30px;
  padding-left: 0 10px;
}

.inputfield-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.inputicon-container {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
  background-color: lightgrey;
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.startdate {
  color: slategray;
  font-size: 0.9;
  width: 100%;
  margin-left: 10px;
}

.startdate-monthcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.output-text { 
  margin: 0 10px;
  min-width: 60px;
  text-align: center;
  font-size: 1.2em;
  color: #000066;
}

.selected-day {
  background: #000066;
  color: white;
  border-radius: 5px;
}